body {
  font-family: "Arial";
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 6px 8px 20px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	display: block;
}

.sidenav a:hover {
	cursor: pointer;
}

.main {
	margin-left: 200px;
	padding-bottom: 30px;
}

.codeC {
	border: 3px;
	border-style: none;
	background-color: #DCDCDC;
	width: 50%;
	padding: 20px;
}